<div id="ecxbody_style"
	style="padding: 15px; background-color: rgb(255, 255, 255);">
	<table width="620" align="center"
		style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 12px;"
		bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
				<td valign="top" bgcolor="#1f1f1f"><a href="http://tkilas.com"
					target="_blank"> <img width="620" style="display: block;"
						alt="" src="http://tkilas.com/clips/header.png" border="0"></a>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
			<tr>
				<td width="620" height="20"></td>
			</tr>
			<tr>
				<td valign="top">

					<table width="584" align="center" bgcolor="#ffffff" border="0"
						cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td height="40" valign="top"
									style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 12px;">


									Hola #USERNAME#,<br>
								<br>
								<strong>¡Tu opinión nos importa!</strong> ¿Te gustó #LOCALNAME#? <br>
								<br> Comparte tu experiencia y ayuda a otros usuarios para
									elegir <strong>los mejores establecimientos de tu
										ciudad</strong>. <br>
								<br> ¡Sólo tardarás unos segundos!

								</td>
							</tr>
						</tbody>
					</table>
					<table width="584" align="center" bgcolor="#ffffff" border="0"
						cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="584" height="10" class="spacer"></td>
							</tr>
							<tr>
								<td width="584" height="1" class="spacer" bgcolor="#acabab">
								</td>
							</tr>
							<tr>
								<td height="40" valign="top" bgcolor="#e9e8e8">
									<table width="580" align="center" bgcolor="#e9e8e8" border="0"
										cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td width="580" height="15"></td>
											</tr>
											<tr>
												<td>
													<table width="550" align="center" bgcolor="#e9e8e8"
														border="0" cellspacing="0" cellpadding="0">
														<tbody>
															<tr>
																<td>
																	<table width="550" align="center" bgcolor="#e9e8e8"
																		border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td width="90" align="left" rowspan="2"><img
																					width="80" height="60"
																					style="display: block; background-color: rgb(204, 204, 204);"
																					alt=""
																					src="#LOCALURLPIC#"
																					border="0"></td>
																				<td height="20" valign="top"
																					style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold;"
																					colspan="2">#LOCALNAME#</td>
																			</tr>
																			<tr>
																				<td
																					style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 12px;"
																					colspan="2">#LOCALADDRESS#<br> #DATE#
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td width="580" height="15"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td width="584" height="10" class="spacer"></td>
							</tr>
						</tbody>
					</table>
					<table width="584" align="center" bgcolor="#ffffff" border="0"
						cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td>
									<table width="584" align="center" bgcolor="#ffffff" border="0"
										cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td width="160" valign="middle"
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;">&nbsp;

												</td>
												<td width="404" align="right">
													<table width="170" height="31" align="right"
														bgcolor="#ffffff" border="0" cellspacing="0"
														cellpadding="0">
														<tbody>
															<tr>
																<td width="170" height="29" align="center"
																	style="color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;"
																	bgcolor="#00ea27"><a
																	style="color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; text-decoration: none;"
																	href="#URLSURVEY#"
																	target="_blank">¡Opina ahora!</a></td>
															</tr>
															<tr>
																<td width="10" height="1" class="spacer"
																	bgcolor="#999999"></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table width="584" align="center" bgcolor="#ffffff" border="0"
						cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="584" height="20" colspan="2"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="620" height="30"></td>
			</tr>
			<tr>
			</tr>
			<tr>
				<td bgcolor="#e9e8e8">
					<table width="540" align="center"
						style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;"
						bgcolor="#e9e8e8" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="530" height="10" class="spacer" colspan="5"></td>
							</tr>
							<tr>
								<td width="304" style="line-height: 15px;" bgcolor="#e9e8e8">
									<table width="304" align="center" bgcolor="#e9e8e8" border="0"
										cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;"
													bgcolor="#e9e8e8" colspan="2"><a
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; text-decoration: none;"
													href="http://tkilas.com" target="_blank"> ¿Qué es
														Tkilas? </a></td>
											</tr>
											<tr>
												<td width="294" height="10" class="spacer" colspan="2">
												</td>
											</tr>
											<tr>
												<td width="8" valign="middle"
													style="color: rgb(49, 49, 49); font-size: 16px; font-weight: bold;">•</td>
												<td valign="middle"
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;"
													bgcolor="#e9e8e8"><a
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;"
													href="http://tkilas.com" target="_blank">Los mejores
														descuentos de bebidas en Madrid</a></td>
											</tr>
											<tr>
												<td width="8" valign="middle"
													style="color: rgb(49, 49, 49); font-size: 16px; font-weight: bold;">•</td>
												<td valign="middle"
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;"
													bgcolor="#e9e8e8"><a
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;"
													href="http://tkilas.com" target="_blank">descuentos de
														hasta un <strong>-50 %</strong> en todas las consumiciones
												</a></td>
											</tr>
											<tr>
												<td width="8" valign="middle"
													style="color: rgb(49, 49, 49); font-size: 16px; font-weight: bold;">•</td>
												<td valign="middle"
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;"
													bgcolor="#e9e8e8"><a
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none;"
													href="http:/tkilas.com" target="_blank">Reserva gratis
														a través de nuestra aplicación</a></td>
											</tr>
											<tr>
												<td width="294" height="10" class="spacer" colspan="2">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td width="45" height="20"></td>
								<td width="1" height="20" bgcolor="#acabab"></td>
								<td width="45" height="20"></td>
								<td width="145">
									<table width="145" align="center"
										style="font-family: Arial, Helvetica, sans-serif; font-size: 11px;"
										bgcolor="#e9e8e8" border="0" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td
													style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;"
													bgcolor="#e9e8e8"><a
													style="color: rgb(49, 49, 49); text-decoration: none;"
													href="http://tkilas.com" target="_blank"> ¿Necesitas
														ayuda? </a></td>
											</tr>
											<tr>
												<td width="145" height="10" class="spacer"></td>
											</tr>
											<tr>
												<td
													style="color: rgb(49, 49, 49); font-family: Arial, Helvetica, sans-serif; font-size: 11px;"
													bgcolor="#e9e8e8"><a
													style="color: rgb(49, 49, 49); text-decoration: none;"
													href="http://tkilas.com" target="_blank"> Estamos a tu
														servicio<br>los 7 días de la semana de 9:00 a 21:00 <br>+34
														639 76 43 07


												</a></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td width="530" height="10" class="spacer" colspan="5"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td height="62" valign="middle" bgcolor="#00ea27">
					<table width="600" align="center"
						style="color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 11px;"
						bgcolor="#00ea27" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="32" height="32" align="left" valign="middle"><a
									title="Twitter" style="color: rgb(255, 255, 255);"
									href="http://twitter.com/tkilas" target="_blank"> <img
										width="20" height="20" style="display: block;" alt="Twitter"
										src="http://tkilas.com/resources/img/tw_landing.png"
										border="0"></a></td>
								<td width="5"></td>
								<td width="32" height="32" align="left" valign="middle"><a
									title="Facebook" style="color: rgb(255, 255, 255);"
									href="http://www.facebook.com/pages/tkilas/1439768839608237"
									target="_blank"> <img width="20" height="20"
										style="display: block;" alt="Facebook"
										src="http://tkilas.com/resources/img/fb_landing.png"
										border="0"></a></td>
								<td width="5"></td>
								<td width="32" height="32" align="left" valign="middle"><a
									title="YouTube" style="color: rgb(255, 255, 255);"
									href="http://www.youtube.com/channel/UC2jPT8m33lDKrnY1hhczt0w"
									target="_blank"> <img width="20" height="20"
										style="display: block;" alt="YouTube"
										src="http://tkilas.com/resources/img/youtube.png" border="0"></a>
								</td>
								<td width="5"></td>

								<td width="32" height="32" align="left" valign="middle"><a
									title="Instagram" style="color: rgb(255, 255, 255);"
									href="http://instagram.com/tkilas_bebidas" target="_blank">
										<img width="20" height="20" style="display: block;"
										alt="YouTube"
										src="http://tkilas.com/resources/img/instagram.png" border="0">
								</a></td>

								<td width="5"></td>

								<td width="32" height="32" align="left" valign="middle"><a
									title="Google Plus" style="color: rgb(255, 255, 255);"
									href="http://plus.google.com/110748576465810074124"
									target="_blank"> <img width="20" height="20"
										style="display: block;" alt="YouTube"
										src="http://tkilas.com/resources/img/gplus.png" border="0"></a>
								</td>

								<td width="10">&nbsp;</td>
								<td height="32" align="right" valign="middle"
									style="color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: 11px;">Disponible
									en tu teléfono móvil:</td>
								<td width="10">&nbsp;</td>


								<td width="33" height="32" align="right" valign="middle"><a
									title="iPhone" style="color: rgb(255, 255, 255);"
									href="https://itunes.apple.com/es/app/tkilas/id948238250?mt=8&uo=4"
									target="_blank"><img width="18" height="32"
										style="display: block;"
										src="http://tkilas.com/resources/img/ico-appstore.png"
										border="0"></a></td>
								<td width="33" height="32" align="right" valign="middle"><a
									title="Android" style="color: rgb(255, 255, 255);"
									href="https://play.google.com/store/apps/details?id=com.tksolutions.tkilas&hl=es"
									target="_blank"><img width="28" height="32"
										style="display: block;"
										src="http://tkilas.com/resources/img/ico-googleplay.png"
										border="0"></a></td>

								<td width="10">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>